.top-header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header {
    display: flex;
    background-color: black;
    width: 1321px;
    height: 646px;
    left: 140px;
    top: 50px;
    color: white;
    border-radius: 30px;
}

.description,
.side-bar {
    margin-top: 100px;
    margin-left: 100px;
}


.tittle {
    font-size: 3.5em;
    font-family: 'Poppins', sans-serif;
}


.banner-right img {
    width: 581px;
    height: 620px;

}

.button-1 {
    background-color: red;
    border-radius: 5%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.side-bar {
    margin-top: 2%;
    border: 5px solid;
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;

}

.box {
    border: 2px solid;
    width: 252px;
    height: 53.08px;
    border-radius: 10px;
    margin-top: 10%;
    margin-left: 5%;
    background-color: white;
    text-align: center;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

#color {
    background-color: red;
}