.top-header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header {
    display: flex;
    background-color: black;
    width: 1321px;
    height: 646px;
    left: 140px;
    top: 50px;
    color: white;
    border-radius: 30px;
}

.banner-right {
    animation: banner 5s infinite;

}

@keyframes mymove {
    from {
        background-color: black;
    }

    to {
        opacity: 50%;
    }
}


.description {
    margin-top: 100px;
    margin-left: 100px;
}


.tittle {
    font-size: 3.5em;
    font-family: 'Poppins', sans-serif;
}


.banner-right img {
    width: 581px;
    height: 620px;

}

.button-1 {
    background-color: red;
    border-radius: 5%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.side-bar {

    margin-top: 2%;
    border: 5px solid;
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;


}

.box {
    border: 2px solid;
    width: 252px;
    height: 53.08px;
    border-radius: 10px;
    margin-top: 10%;
    margin-left: 5%;
    background-color: white;
    font-weight: 500;
    text-align: center;
    font-family: 'Poppins', sans-serif;

}

#color {
    background-color: red;
}

.container {
    display: flex;
    justify-content: center;
}

.blogs {
    width: 312px;
    height: 362px;
    border-radius: 10px;

}




h3 {
    margin-left: 10px;
}

h5 {
    margin-top: 2px;
    margin-left: 20px;
    color: gray;
}

.blogs {
    justify-content: center;
    align-items: center;
}

.side-bar {
    margin-top: 5%;
}

.blog-section {
    margin-top: 5%;
    margin-left: 10px;
    padding-right: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.footer-container {
    width: 1500px;
    height: 300px;
    background-color: #161616;
}

.footer-tittle {


    color: white;
    text-align: center;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;

}

nav ul {
    display: flex;
    gap: 50px;




}



nav li {

    list-style: none;
    margin-right: 90px;

}

nav li a {
    text-decoration: none;
    color: grey;
    font-size: 20px;

}